{% extends 'base.html' %}

{% block content %}

<div class="stick" style="background-color: blueviolet; height: 20vh; z-index: 1;">
    <img src="{{ url_for('static', filename='logo.png') }}" style="height: 20vh; float: left;">
    <h1>Магазин сотовых телефонов</h1>
</div>

<div style= "display: flex; justify-content: space-around;">
    

    <div style="background-color: cadetblue; justify-content: left; width: 100%; float: right;">
        <div>
            <h1>Телефоны</h1>
            <div style="display: flex; flex-direction: row;">
                <div>
                    <img src="/static/{{ product.name }}.jpg" style="border: 2px solid black; width: 70vh;">
                </div>
                
                <div style="margin-left: 20pt;">
                    <h1>{{ product.brand }} {{ product.name }}</h1>
                    <div>
                        {{ product.description }}
                    </div>
                    <p>
                        <a href="{{ url_for('index_page') }}">Назад</a>
                    </p>
                </div>
                
                
            </div>

        </div>
    </div>
</div>

{% endblock %}
